<!DOCTYPE html>
<html>
	<head>
		<%- include('partials/head'); -%>
		<script src="js/logs.js"></script>
	</head>
	<body class="bg-light">
		<header>
			<%- include('partials/header'); -%>
		</header>
		<main class="container">
			<div id="my-signin2" class="g-signin2" data-onsuccess="onSuccess" data-onfailure="onfailure" style="display: none;"></div>
			<div class="list-content bg-white">
				<!-- <div class="log-item-content clearfix">
					<div class="item-img-type-call"><img src="img/callin.png"/></div>
					<div class="item-name-caller">
						<h5>Nam</h5>
						<div class="total-time">13:45</div>
					</div>
					<div class="item-time-call">
						<div class="date-time-start">2020/06/18 13:45</div>
					</div>
				</div>
				<div class="log-item-content clearfix">
					<div class="item-img-type-call"><img src="img/callout.png"/></div>
					<div class="item-name-caller">
						<h5>Nam</h5>
						<div class="total-time">13:45</div>
					</div>
					<div class="item-time-call">
						<div class="date-time-start">2020/06/18 13:45</div>
					</div>
				</div>
				<div class="log-item-content clearfix">
					<div class="item-img-type-call"><img src="img/callignore.png"/></div>
					<div class="item-name-caller">
						<h5>Nam</h5>
						<div class="total-time">13:45</div>
					</div>
					<div class="item-time-call">
						<div class="date-time-start">2020/06/18 13:45</div>
					</div>
				</div> -->
			</div>
			<div class="load-more-content" style="display: none;">
				<button type="button" class="btn btn-secondary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Order">もっと読み込む</button>
			</div>
		</main>
	</body>
</html>
