<!DOCTYPE html>
<html>
	<head>
		<%- include('partials/head'); -%>
		<script src="js/favorite.js"></script>
    </head>
	<body class="bg-light">
		<header>
			<%- include('partials/header'); -%>
		</header>
		<main class="container">
			<div class="list-content bg-white">
				
			</div>
			<div class="load-more-content" style="display: none;">
				<button type="button" class="btn btn-secondary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Order">もっと読み込む</button>
			</div>
		</main>
	</body>
</html>
